<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">Feel free to send me an email</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            <li>
              Elinaldo Monteiro
            </li>
            <li><a href="mailto:elinaldosoft[at]gmail[dot]com">elinaldosoft[at]gmail[dot]com</a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
        {% if site.twitter_username %}
        <li>
            <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}">
            <i class="fa fa-twitter"></i> Twitter
            </a>
        </li>
        {% endif %}
        {% if site.github_username %}
        <li>
            <a target="_blank" href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github"></i> GitHub
            </a>
        </li>
        {% endif %}
        {% if site.linkedin_username %}
        <li>
            <a target="_blank" href="https://linkedin.com/in/{{ site.linkedin_username }}">
            <i class="fa fa-linkedin"></i> LinkedIn
            </a>
        </li>
        {% endif %}
        {% if site.facebook_username %}
        <li>
            <a target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}">
            <i class="fa fa-facebook"></i> Facebook
            </a>
        </li>
        {% endif %}
        <li>
            <a target="_blank" href="http://stackoverflow.com/users/1531634/elinaldo-monteiro">
            <i class="fa fa-stack-overflow"></i> Stack Overflow
            </a>
        </li>
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <p> I am software developer, husband, father, Christian and musician.</p>
        <small>There are only two ways to live your life: as though nothing is a miracle, or as though everything is a miracle - Albert Einstein</small>
      </div>
    </div>
  </div>
</footer>